@use '../../styles/variables.module' as *;
@use '../../styles/mixins.module' as *;
@include container;

.genre {
	padding: 64px 0;

	@media (max-width: 767px) {
		padding: 0;
	}
}

.titleGenre {
	font-weight: 700;
	font-size: 48px;
	line-height: 117%;
	margin: 0 0 64px 0;

	@media (max-width: 767px) {
		font-size: 24px;
		line-height: 133%;
		margin-bottom: 40px;
	}
}

.genreList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 64px 40px;

	@media (max-width: 767px) {
		gap: 24px;

		& a {
			width: 335px;
			height: 503px;

			& img {
				height: auto;
			}
		}
	}
}

.addBtn {
	padding: 64px 0 0;
	width: 100%;
	display: flex;
	justify-content: center;

	@media (max-width: 767px) {
		padding: 40px 0 0;

		& button {
			background-color: $color-mobile-purple;

			&:hover {
				background-color: $color-mobile-purple;
				color: $color-white;
			}
		}
	}
}

.addBtnText {
	padding: 0 30px;

	@media (max-width: 767px) {
		padding: 0 87px;
	}
}
