// colors

$color-modal-bg: #00000089;
$color-error: red;

$color-black: #000;
$color-black-40: #00000080;

$color-white: white;
$color-white-70: #ffffffb2;
$color-white-50: #ffffff80;
$color-white-33: #ffffff54;
$color-white-25: #ffffff40;

$color-dimgray: #747474;
$color-montana: #393b3c;
$color-east-bay: #45526e;
$color-blue: #67a5eb;
$color-blue-for-frame: #1b7fcc5c;
$color-violet-1: #b4a9ff;
$color-electric-purple: #dc5dfc;
$color-purple: #f207ff54;
$color-mobile-purple: #6a5dc2;
$color-neon-blue: #6851ff;
$color-salmon: #ff7575;
$color-bright-purple: #b820ff90;
