@use '../../styles/variables.module' as *;

.authBlock {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
}

.error {
	position: absolute;
	z-index: 1;
	top: -33px;
	left: 66px;
	color: $color-error;
	font-size: 22px;
	line-height: 133%;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 24px;
}

.fieldset {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
	gap: 12px;
}

.btn {
	box-sizing: border-box;
	background-color: inherit;
	font-weight: 700;
	font-size: 18px;
	line-height: 133%;
	color: $color-black;
	padding: 0;
	border-bottom: 1px solid transparent;
	transition: color ease-in-out 0.2s;

	&:hover {
		color: $color-electric-purple;
	}

	&:focus-visible {
		color: $color-electric-purple;
	}
}
